html, body {
    height: 100%;
    margin: 0;
    background-color: #EEE;
}

h1, h2, h3, h4, h5, h6 {
    margin-top: 0;
}

.left-sidenav {
    left: 52px;
    width: 20%;
    height: 100%;
    float: left;
    position: fixed;
    background-color: #222629;
}

.sidebarInner{
    background-color: #222629;
    display:inline-block;
    width: 100%;
    max-width: 36.5rem;
    vertical-align: top;
    padding-top: 2rem;
}

.sidebarInner .image {
    width: 70%;
    height: 28%;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

.sidebarInner .name {
    color: #FFF;
    font-weight: bold;
    font-size: x-large;
}

.sidebarInner .title {
    color: #FFF;
    font-size: large;
}

.sidebarInner .left-navbar {
    width: 100%;
    text-align: left;
}

.sidebarInner .left-navbar li .nav {
    padding: 8% 0 8% 12%;
    font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    font-weight: 700;
    border: none;
}

.content {
    height: 100%;
    width: 78%;
    margin-left: 22%;
    padding: 30px 30px 30px 50px;
    background-color: #EEE;
}

.resume-body {
    width: 100%;
    background-color: white;
    padding: 30px 30px 30px 50px;
    border-radius: 25px;
}

@media screen and (max-width: 1280px) {
    .left-sidenav{
        display: none;
        width: 40%;
        height: auto;
    }
    .content{
        margin-left: 2%;
        float: none;
    }
}
@media screen and (max-width: 700px) {
    .left-sidenav{
        display: none;
        width: 100%;
    }
    .content{
        margin-left: 2%;
        float: none;
    }
}
@media screen and (max-width: 550px) {
    .left-sidenav{
        display: none;
        width: 100%;
        text-align: left;
        child-align: left;
    }
    .content{
        margin-left: 2%;
        float: none;
    }
}

/*Menu Icon Start*/
.menu-icon {
    display: inline-block;
    cursor: pointer;
    float: left;
    background-color: #222629;
    height: 100%;
    width: 52px;
    padding: 0.5% 0.5% 0 0.5%;
    position: fixed;
}

.bar1, .bar2, .bar3 {
    width: 35px;
    height: 5px;
    background-color: white;
    margin: 6px 0;
    transition: 0.4s;
}

/*.bar1 {*/
    /*-webkit-transform: rotate(-45deg) translate(-9px, 6px) ;*/
    /*transform: rotate(-45deg) translate(-9px, 6px) ;*/
/*}*/

/*.bar2 {*/
    /*opacity: 0;*/
/*}*/

/*.bar3 {*/
    /*-webkit-transform: rotate(45deg) translate(-8px, -8px) ;*/
    /*transform: rotate(45deg) translate(-8px, -8px) ;*/
/*}*/

/*.change .bar1 {*/
    /*-webkit-transform: rotate(0deg) translate(0px, 0px) ;*/
    /*transform: rotate(0deg) translate(0px, 0px) ;*/
/*}*/

/*.change .bar2 {*/
    /*opacity: 1;*/
/*}*/

/*.change .bar3 {*/
    /*-webkit-transform: rotate(0deg) translate(0px, 0px) ;*/
    /*transform: rotate(0deg) translate(0px, 0px) ;*/
/*}*/
/*Menu Icon End*/
